In [9]:
f = open('Number.txt', 'r', encoding= 'utf8')
f.readline().rstrip()
f.close()

In [13]:
with open('Number.txt', 'r') as f:
    for line in f:
        print(line.rstrip())

1
2
3
5
3
4
2

In [14]:
with open('Number.txt', 'r') as f:
    print(f.readlines())
    print(f.read())

['1\n', '2\n', '3\n', '5\n', '3\n', '4\n', '2\n']

In [18]:
file = open('Number2.txt', 'w')
file.write('1')
file.close()

In [20]:
file = open('Number2.txt', 'w')
answer = ['1', '2','3']
contents = '\n'.join(answer)
file.write(contents)

5

In [22]:
from pathlib import Path
p = Path('data/Number.txt')
p.read_text().split()

['1', '2', '3', '5', '3', '4', '2']

In [ ]:
from pathlib import Path
p = Path('data/Number.txt')
answer = ['1','2','3']
contents = '\n'.join(answer)
p.read_text().split()

In [25]:
try:
    with open('Number5.txt', 'r') as f:
        f.read()
except FileNotFoundError as e:
    print('FileNotFoundError', e)
    print('Error!')
except Exception as e:
    print('Unknown Error!')

with open('Number2.txt', 'r') as f:

    f.read()

FileNotFoundError [Errno 2] No such file or directory: 'Number5.txt'
Error!

In [ ]:
def add (a,b):
    raise FileNotFoundError('Hello')

def main():
    add(1,2)

In [29]:
import csv

with open('grade.csv', 'r') as f:
    file = csv.reader(f)
    students = {}
    subjects = []
    headers = next(file)
    for line in file:
        name,java,python = line[0], line[1], line[2]
        students[name] = sum([java, python]) / 2
        subjects['java'] = subjects.get('java',0) + java
        subjects['python'] = subjects.get('python',0) + python
        print(line)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 개별 평균


#과목별 평균

In [34]:
import pandas as pd

df = pd.read_csv('grade.csv')
df.head()

    name  java  python
0    kim    90      80
1   june    70      90
2  young   100      40

In [35]:
df.sum(axis=0)

name      kimjuneyoung
java               260
python             210
dtype: object

In [37]:
df.describe()

             java     python
count    3.000000   3.000000
mean    86.666667  70.000000
std     15.275252  26.457513
min     70.000000  40.000000
25%     80.000000  60.000000
50%     90.000000  80.000000
75%     95.000000  85.000000
max    100.000000  90.000000

## Json

In [38]:
import json

In [40]:
lst= [1,2,3]

contents = json.dumps(lst)

In [42]:
request = json.loads(contents)
type(request)

list

In [43]:
import json

In [47]:


data = {'kim' : [90,80],
        'june': [70,90],
        'young' : [100,40]}

data= {
    'name' : ['kim', 'june' ,'young'],
    'java' : [90, 70, 100],
    'python' : [80,90,40],
}

response = json.dumps(data)
response

'{"name": ["kim", "june", "young"], "java": [90, 70, 100], "python": [80, 90, 40]}'

In [48]:
import pickle

with open('data.bin', 'wb') as f:
    pickle.dump(data, f)

In [ ]:
import json

data= {
    'name' : ['kim', 'june' ,'young'],
    'java' : [90, 70, 100],
    'python' : [80,90,40],
}

with open('data.json', 'w') as f:
    json.dump(f)

data.json 파일이 보기 좋은 형태로 저장되었습니다.

In [ ]:
import csv

with open('data.json', 'r') as f:
reader = csv.DictReader(f)
    for line in reader:
        print(line['name'])

IndentationError: expected an indented block (1305596858.py, line 4)